# Backend
backend/venv/
backend/__pycache__/
backend/.pytest_cache/
*.pyc
.env

# Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/.local/

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store

# Temporary files
backend/recs_error.txt
